
@model List<FactFlux.Word>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/Word/Index.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/Content/NewCSS/Front.css" rel="stylesheet" />

<div class="aboveGrid">

    <div class="mostDiscussed">
        <span>Most Discussed</span>
        <select class="timeFrames">
            <option value="1">Today</option>
            <option value="2">This Week</option>
            <option value="3">This Month</option>
            <option value="4">This Year</option>
        </select>
    </div>

    <div class="searchDiv">
        <input class="searchInput" />
        <i class="fa fa-search"></i>
    </div>
</div>


<ul class="surveys grid wordTableBody">

    @foreach (var word in Model)
    {
        <li class="survey-item original" data-slug="@word.Slug" data-day="@word.DailyCount" data-week="@word.WeeklyCount" data-month="@word.MonthlyCount" data-year="@word.YearlyCount">

            @if (!string.IsNullOrEmpty(word.Image))
            {
                <div class="topWord">
                    <span class="survey-name">
                        @word.Word1
                    </span>
                    <img class="wordImg" src="~/@word.Image" />
                </div>
            }
            else
            {
                <span class="survey-name">
                    @word.Word1
                </span>
            }

            <div class="pull-right">
                <span class="dailyCount">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                    Daily Count: @word.DailyCount
                </span>
                <span class="AllCount">
                    Daily: @word.DailyCount Monthly:@word.MonthlyCount Yearly:@word.YearlyCount
                </span>
            </div>
        </li>

        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <form class='segmentChangeForm' action='~/Word/AddImageToWord' enctype='multipart/form-data' method='post'>
                <input hidden value="@word.WordId" name="wordId" />
                <label>Image File</label>
                <input type='file' name='imageFile'>
                <button>Add Img</button>
            </form>
        }
    }

</ul>

<style>
    .topWord {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .wordImg {
        height: 50px;
        width: 50px;
        border-radius: 100px;
        float: right;
    }

    .AllCount {
        display: none;
        font-size: 10px;
    }

    .timeFrames {
        border: none;
        box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
        border-radius: 12px;
    }

    .mostDiscussed {
        margin-top: 30px;
        text-align: center;
    }

        .mostDiscussed span {
            font-family: 'Lobster', cursive;
            font-size: 25px;
            margin-right: 15px;
        }

    select {
        font-family: 'Lobster', cursive;
        font-size: 25px;
    }

    .paginatedHide {
        display: none !important;
    }
</style>
<script src="~/Scripts/NewJS/Front.js"></script>